
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
   
}
body{
    background: linear-gradient(#177E80,#0e3c3e,#114d4f,#135f62,#14696c,#177E80);
    color: #fff;
    /* width: 100%; */
}
nav{
    height: 80px;
    background-color: #1b7678;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}

nav .logo img{
  height: 100px;
  /* width: 117%; */
  margin-left: -83px;
  margin-top: -13px;
}


nav ul{
    display: flex;
    list-style: none;
}

nav ul li{
    margin: 0px 5px;
}


nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    /* background: #fff; */
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li a:hover,
nav ul li a.active{
    background-color: #fff;
    color: #1b1b1b
}

nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

.name{
    margin-top: -67px;
    margin-left: 16px;
    font-size: 15px;
    padding-bottom: 15px;
    color:  #efb02d;
}
.mainhero{
    /* background-color: #efb02d; */
    width: 100%;
    height: 100vh;
    
}
.mainpage{
    /* height: 100vh; */
    width: 100%;
    left: 0%;
    /* top:30%; */
    padding: 30px;
    background-color: #177E80;
    position: absolute;
}
.mainimg img{
    /* height: 627px; */
    width: 40%;
    float: right;
}

.mainimg p {
    font-size: 50px;
    color: white;
    left: 12%;
}

@media (max-width:940px) {
  
      #click:checked ~  .menu-btn i::before{
        content: '❌';
      }
       
      nav .menu-btn i{
        display: block;
      }

    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #111;
        height: 100vh;
        display: block;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    
#click:checked ~ ul{
    left: 0%;
}
    nav ul li{
        margin: 40px 0px;
    }
    nav ul li a {
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover ,
    nav ul li a.active{
        color: cyan;
        background: none;
    }
}





.header {
    background-color: #177E80;
       color: #177E80;
   padding: 31px 0; 
   width: 100%;  
   

}


.logo img {
   width: 109px;
   height: auto;
}
/* 
nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #1b7678;
   padding: 0;
   margin: 0;
   width: 100%;

} */

.menu {
   list-style-type: none;
   margin: 12px;
   padding: 12px;
   margin-bottom: -6px;
}
.name{
   margin-top: -63px;
   margin-left: 91px;
   font-size: 15px;
   color:  #efb02d;
}

.menu li {
   display: inline;
   margin-right: 20px;
}

.menu li a {
   color: white;
   background-color: #177E80;
   border-radius: 2.8px;
   text-decoration: none;
   font-size: 17px;
   font-weight: 600;
   font-style: italic;
   padding: 3.6px;


   transition: transform 0.3s, ease-in-out, backgroud-color 0.3s,color 0.3s;
   /* transition: all 0.3s; */


}

.menu li a:hover {
   transform: translateY(-10px);
   background-color: white;
    color: #0e3c3e;

}


.hero-section {
   width: 100%;
   padding: 0px;
   height: 640px;
   
} 

.container {
   max-width: 100%;
   margin: 0 auto;
   padding: 0 20px;
   position: relative; /* Add position relative */

}.text {
   position: absolute;
   top: 21%;
   left: -210px; /* Align to the left side */
   transform: translateY(-50%);
   font-weight: bold;
   font-size: larger;
   font-style: italic;
   margin-top: 0%;
   transition: all 0.3s;
}

@keyframes slideInLeft {
   from {
      transform: translateX(-100%); /* Start from outside the container */
   }
   to {
       transform: translateX(0);
   }
}

.text {
   width: 80%; 
   margin-bottom: 30px;
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   color: aliceblue;
   text-align: center; 
   animation-duration: 2s;
   animation-fill-mode: both;
   animation-name: slideInLeft;
   animation-delay: 2s;
}


.container img {
   width: 69%;
   height: 670px;
   margin-left: 399px;
   padding-top: 3px;
}

/* 
.container img {
   /* width: 62%;
   height: 922px;
   margin-left: 471px;*/
   /* padding-top: 3px;  */
   /* width: 69%; */
   /* height: 670px; */
   /* margin-left: 399px; */
/* } */
    


.hero-section h1 {
   font-size: 48px;
   margin-bottom: 20px;
}

.hero-section p {
   font-size: 20px;
   margin-bottom: 40px;
   
}


.categories {
   display: flex;
   flex-wrap: wrap; /* Ensure items wrap to next line if container is not wide enough */
   justify-content: space-between; /* Distribute items evenly along the main axis */

} 

@keyframes slideInLeft {
   from {
      transform: translateX(-100%);
   }
   to {
       transform: translateX(0);
   }
}

@keyframes slideInRight {
   from {
      transform: translateX(100%);
   }
   to {
       transform: translateX(0);
   }
}
.category, .category1 {
   width: 80%; 
   margin-bottom: 30px;
   display: flex; 
   flex-direction: column; 
   align-items: center; 
   text-align: center; 
   animation-duration: 3s;
   animation-fill-mode: both;
}

.category {
   animation-name: slideInLeft;
   animation-delay: 3s; /* Delayed start for category */
}

.category1 {
   animation-name: slideInRight;
   animation-delay: 3s;
}

.categories h2 {
   
       font-size: 38px;
       margin-bottom: 48px;
       text-align: center;
       text-decoration: none;
       background-color: #102c2d;
       color: #fff;
       margin-left: -50%;
       margin-right: -50%;
       margin-top: 60px;
       padding: 12px 87px; 
   
   
}

.category img, .category1 img {
   width: 270px;
   height: auto;
   margin-left: 0px;
   padding-bottom: 50px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   transition: transform 0.3s ease-in-out;
}

.category img:hover,
.category1 img:hover {
   transform: scale(1.05);
}

.category p,
.category1 p {
   font-size: 40px;
   /* margin-top: -180px; Adjust this value as needed */
   margin-left: 0px;
   color: #fff;
   transition: transform 0.4s;
}

.category a,
.category1 a {
   text-decoration: none; 
}

.category p:hover,
.category1 p:hover {
   transform: scale3d(1.1, 1.1, 1); /* Scale up on hover */
}


/* Custom box section styles */
.custom-box-section {
   padding: 50px 0;
   max-height: 400px;
   overflow-y: auto;
}

.custom-box-section form {
   background-color: #fff;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.custom-box-section label {
   display: contents;
   margin-bottom: 10px;
   
}


.custom-box-section input[type="color"],
.custom-box-section input[type="number"],
.custom-box-section input[type="description"]
{

   width: 100%;
   padding: 10px;
   margin-bottom: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   
}

.custom-box-section input[type="submit"] {
   background-color: #333;
   color: #fff;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.custom-box-section input[type="submit"]:hover {
   background-color: #555;
}

/* Review section styles */
/* .review-section {
   background-color: #f8f8f8;
   padding: 50px 0;
   max-height: 300px; 
   overflow-x: auto;
} */

/* .review-section h2 {
    font-size: 32px; 
   margin-bottom: 30px; 
    text-align: center;
}  */

/* Footer styles */
footer {
   background-color: #333;
   color: #fff;
   text-align: center;
   padding: 20px 0;
   position: relative;
   bottom: 0;
   width: 100%;
}

footer p {
   margin: 0;
}

/* Media queries for responsiveness */
@media screen and (max-width: 768px) {
   .container {
       padding: 0 10px;
   }

   .logo img {
       width: 80px;
   }
}
/* .comment {
   display: inline-table; 
   border: 2px solid black;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 10px;
   margin-right: 20px;
   margin-bottom: 20px;
   width: 16%;
   height: 110px;
    transition: all 0.3s; 
    max-height: 300px;
       overflow-x: auto;}

.comment p {
   margin: 0; }
.comment:hover{
   transform: scale(1.05);
}  */

.alert{
   height: 123px;
   width: 122px;
   color: #ccc;
   background-color: #114d4f;
}
.btn{
   padding: 10px 60px;
   background-color: #114d4f;
   color: #f8f8f8;
   border: 0;
   outline: none;
   cursor: pointer;
   font-size: 22px;
   font-weight: 500;
   border-radius: 30px;
   transform: translateY(10px);
}
.btn:hover{
   transform: scale(1.05);
   background-color: #f8f8f8;
   color: #0e3c3e;
   box-shadow: #145e612c;
}

/* }
.add-comment{
   border: 2px solid black;
}
.add-comment label{
   height: 122px;
   width: 222px;
} */


.comment-section {
   margin-top: 50px;
}

.comment-section .container {
   width: 80%;
   margin: 0 auto;
}

.comment-section h2 {
   font-size: 38px;
   margin-bottom: 48px;
   text-align: center;
   text-decoration: none;
   background-color: #0e3c3e;
   color: #fff;
   margin-left: -20px;
   margin-right: -19px;
   margin-top: 60px;
   box-shadow: 0 0 20px rgba(48, 231, 200, 0.2);
}

.add-comment {
   margin-top: 60px;
}

.add-comment h2 {
   font-size: 38px;
   margin-bottom: 48px;
   text-align: center;
   text-decoration: none;
   background-color: #0e3c3e;
   color: #fff;
   margin-left: 130px;
   margin-right: 142px;
   margin-top: 60px;
   box-shadow: 0 0 20px rgba(48, 231, 200, 0.2);
}

.add-comment form {
   text-align: center;
}

.add-comment label {
   display: block;
   margin-bottom: 10px;
}

.add-comment input[type="text"],
.add-comment textarea {
   width: 99%;
   padding: 10px;
   margin-bottom: 20px;
}

.add-comment button {
   display: block;
   margin: 0 auto;
   background-color: #0e3c3e;
   color: #fff;
   padding: 10px 20px;
   border: 2px;
   cursor: pointer;
   margin-bottom: 11px;
   border: 2px solid black;
}

.add-comment button:hover {
   color: #0e3c3e;
   background-color: #fff;
   
}

.comment {
   margin-bottom: 20px;
   padding: 10px;
   background-color: #f4f4f4;
   border: 1px solid #ddd;
}

.comment p.username {
   font-weight: bold;
}

.comment p.comment-text {
   margin-top: 5px;
}

/* 
/* Global Styles */
body {
   margin: 0;
   font-family: Arial, sans-serif;
}

.header {
   background-color: #177E80;
   color: #fff;
   padding: 10px;
}

.logo img {
   width: 100px;
}
/* 
.menu {
   list-style-type: none;
   margin: 0;
   padding: 0;
} */
/* 
.menu li {
   display: inline;
   margin-right: 20px;
} */ 
/* 
.menu li a {
   color: #fff;
   text-decoration: none;
   font-weight: bold;
   font-size: 16px;
   transition: color 0.3s;
} */
/* 
.menu li a:hover {
   color: #ffd700;
} */

.container-re{
   width: 66%;
   height: 690px;
   margin-left: 399px;
   padding-top: 3px;
} */
.reveiw-ani img{
   padding-bottom: 39px;
   border: 2px black solid;
   border-radius: 18px;
   height: 331px;
   border-style: double;
   margin-left: -121px;
   box-shadow: 0 0 20px #242b29;

}
.reveiw-ani{
   animation-name: slideInLeft; /* Name of the animation */
   animation-duration: 12s; /* Duration of the animation */
   animation-fill-mode: both; 
}
.reveiw{
   padding-top: 200px;
   /* position: relative;
   overflow: hidden;
   z-index: 0;
   background: linear-gradient(140deg , white , #0e3c3e);
   color: #114d4f; */
}

@keyframes slideInLeft {
   from {
      transform: translateX(-100%);
   }
   to {
       transform: translateX(0);
   }}

.preveiw {
   margin: -318px 46px 52px 431px;
   font-size: 22px;
   font-style: italic;
   
   color: #ccc;
   animation-name: slideInRight; 
    animation-duration: 12s;  
    animation-fill-mode: both;  
} 
.preveiw a{
   text-decoration: none;
   color: #ccc;
}
/* 
.review:before {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 200%;
   height: 100%;
   background: linear-gradient(135deg, #fff 50%, #242b29 50%);
   transform: skewY(-10deg);
   z-index: -1;
} */

.cus {
   display: flex;
   justify-content: center;
   align-items: center;
   width: auto;
   /* border: 2px solid black; */
   
}

.custom-box {
   display: flex;
   align-items: flex-start;
   max-width: 1000px; /* Adjust as needed */
   width: 100%;
   animation-duration: 2s;
   animation-fill-mode: both;
   animation-name: slideInLeft;
   animation-delay: 2s;
}

.customBoximg img {
   max-width: 100%;
   border: 2px solid black;
   border-radius: 10px;
   height: auto;
   margin-right: 20px; /* Space between image and text */
}

.custom-text {
   font-weight: 400;
   text-align: left;
   color: #ccc;
}

.custom-text h1 {
   margin: 10px 0;
}

.custom-text p {
   margin: 10px 0;
   line-height: 1.5;
}




@media (max-width: 600px) {
   .container {
       padding: 10px;
   }
}

@media (max-width: 1130px) {
   .menu{
       margin-right: 1%;
   }
}
@media (max-width: 1097px) {
   .preveiw{
   margin: -317px 54px 59px 414px;
   font-size: 15px;
   font-style: italic;
   color: #ccc;
   animation-name: slideInRight;
   animation-duration: 12s;
   animation-fill-mode: both; 
}
}
@media (max-width : 1027px) {
   .hero-section h1{
       font-size: 40px;
   }
   .hero-section p{
       font-size: 14px;
   }
   .custom-text p{
       font-size: 14px;
   }
}
@media (max-width: 1007px) {
   .container img{
       width: 69%;
       margin-left: 33%;
   }
}